* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: aliceblue;
  margin: 30px;
}

h2{
    text-align: center;
    font-size: 30px;
}

p{
    font-size: 15px;
}

section{
    display: grid;
    place-items:center;
    align-items:center;
    min-height: 100vh;
}